@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Space Grotesk", sans-serif;
  }

  body {
    background-color: #fefff0;
    overflow-x: hidden
  }
}

.navBtn {
  @apply text-2xl font-medium px-3;
}
